  * {
    box-sizing: border-box;
    padding: 0; /* reset css */
    margin: 0;  
    
  }
body > header{
  background-color: black;
  padding: 16px 0;
  color: beige;
}
section{
  padding: 16px ;
}
.articles article h3{
  margin-top: 8px;
  margin-bottom: 8px;
}
.articles article a{
  background-color: rgba(0, 0, 0, 0.404);
  color: bisque;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgba(0, 0, 0, 0.48);
  border-radius: 50px;
  display: inline-block;
  margin: 2px 10px 2px 0px
}
section h2, articles article{
  margin-bottom: 16px;
}
  header li {
    display: inline;
    position: relative;
    
  }
  header li a{
    color: bisque;
  }
  .container {
    width: 1366px;
    margin: 0 auto;
  }
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles article img {
    height: 180px;

  }
  .articles article{
    width: 50%;
  }
  #gossip{
    background-color: rgba(128, 0, 128, 0.33);
  }
  #economy{
    background-color: rgba(0, 128, 0, 0.39);
  }
  #sports{
    background-color: rgba(127, 255, 212, 0.47);
  }
 #food{
  background-color: rgba(255, 0, 0, 0.363);
 }